<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/resources :: headResources('Spring Photo Album')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Photo Album</title>
    

</head>
<nav th:insert="fragments/navbar :: Navbar"></nav>


<div class="photo-list-container">
    <h1>SPRING-PHOTO-ALBUM</h1>

    <form id="search-form" class="mb-4">
        <div class="input-group">
            <input type="text" id="searchInput" name="search" placeholder="Search for photos"
                   class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div class="buttons-container" sec:authorize="hasAuthority('ADMIN')">


        <a th:href="@{/photos/create}" class="custom-btn primary">Aggiungi Nuova foto</a>
    </div>
    <div class="buttons-container" sec:authorize="hasAuthority('SUPERADMIN')">
        <a th:href="@{/categories}" class="custom-btn primary">Aggiungi Nuova Categoria</a>
    </div>

    <div class="photo-card-container" th:if="${not listPhoto.empty}">
        <div class="card-container">
            <div th:each="photo : ${listPhoto}" class="custom-card">
            <div class="custom-card-body">
                <h5 class="custom-card-title" th:text="${photo.title}"></h5>
                <p class="custom-card-text" th:text="${photo.description}"></p>
            </div>
            <div class="custom-photo-wrapper" th:style="'background-image: url(' + ${photo.url} + ');'">
            </div>
            <div class="custom-card-footer">
                <strong>Categorie:</strong>
                <div th:each="category : ${photo.categories}" th:text="${category.name}"></div>
            </div>
                <a th:href="@{/photos/edit/{id}(id=${photo.id})}" class="custom-btn warning">Edit</a>
                <form th:action="@{/photos/delete/{id}(id=${photo.id})}" method="post"
                      onsubmit="return confirm('Sei sicuro di voler eliminare questa foto?');">
                    <button type="submit" class="custom-btn danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="buttons-container">
    <script th:replace="fragments/resources :: jsResources"></script>
</div>

</div>
</html>