<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Photo List')">

</head>
<body>

<div class="photo-list-container">
    <h1>Photo List</h1>
    <div class="buttons-container">
        <a th:href="@{/photos/create}" class="btn btn-primary">Aggiungi Nuova Foto</a>
    </div>

    <div class="photo-card-container" th:if="${not listPhoto.empty}">
        <div th:each="photo : ${listPhoto}" class="photo-card">
            <a th:href="@{/photos/show/{id}(id=${photo.id})}">
            <img th:src="${photo.url}" class="photo-card-img" th:alt="${photo.title}">
            <div class="photo-card-body">
                <h5 class="photo-title" th:text="${photo.title}"></h5>
                <p class="photo-description" th:text="${photo.description}"></p>
            </div>
            </a>
        </div>
    </div>

</div>

<div class="buttons-container">
    <script th:replace="fragments/resources :: jsResources"></script>
</div>

</body>
</html>
