<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Photo Show')">
</head>
<nav th:insert="fragments/navbar :: Navbar"></nav>


<div class="photo-show-container">
    <h1 class="photo-title" th:text="${photo.title}"></h1>
    <p class="photo-description" th:text="${photo.description}"></p>
    <img th:src="${photo.url}" class="photo-show-img" th:alt="${photo.title}">
    <div class="photo-categories">
        <strong>Categorie:</strong>
        <div th:each="category : ${photo.categories}" th:text="${category.name}"></div>
    </div>
    <a th:href="@{/photos}" class="btn btn-primary">Torna indietro</a>
</div>

<div class="buttons-container">
    <script th:replace="fragments/resources :: jsResources"></script>
</div>


</html>
