/* Stili di base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stili del form di ricerca */
#search-form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

/* Stili degli input del form di ricerca */
#searchInput {
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: 80%;
}

/* Stili del pulsante del form di ricerca */
#search-form button {
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
}

.custom-btn {
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto 10px;
    cursor: pointer;
    text-align: center;
}

.custom-btn.primary {
    background-color: #007bff;
    color: #fff;
}

.custom-btn.warning {
    background-color: #ffc107;
    color: #212529;
}

.custom-btn.danger {
    background-color: #dc3545;
    color: #fff;
}

/* Stili delle card personalizzate */
.custom-card {
   
    margin: 0 10px 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto 20px;
    width: calc(33.33% - 20px);
    height: 650px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card-body {
    padding: 20px;
}

.custom-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.custom-card-text {
    font-size: 1rem;
}

.custom-photo-wrapper {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.custom-card-footer {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
    text-align: center;
}

.photo-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.photo-actions a,
.photo-actions button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.photo-actions a {
    background-color: #007bff;
    color: #fff;
}

.photo-actions button {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}


.navbar.navbar-light {
    background-color: #007bff !important;
    color: #fff;
    font-size: 1.2rem;
}

.navbar.navbar-light .navbar-brand,
.navbar.navbar-light .nav-link {
    color: #fff !important;
}

.navbar.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}

.navbar.navbar-light .btn-outline-danger {
    color: #dc3545;
}


   .form-check-label {
            margin-left: 10px;
            display: block;
        }

        .form-check-input {
            margin-top: 5px;
        }